@using Repository.Models.Users
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <span>@UserManager.GetUserName(User)</span>
    <form method="post" asp-controller="Account" asp-action="Logout">
        <button type="submit">Logout</button>
    </form>
}
else
{
    <a asp-page="/Account/Register">Register</a>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <a asp-page="/Account/Login">Login</a>
}