@page
@model FruitShop_Razor_Pages.Pages.Account.ForgotPassword

<h1>Quên mật khẩu</h1>

<p>@TempData["SuccessMessage"]</p>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        Email <input asp-for="Input.Email"/>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Gửi liên kết đặt lại mật khẩu</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
