@page
@model LoginModel

<h1>Đăng nhập</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div>
        Email <input asp-for="Input.Email"/>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div>
        Mật khẩu <input asp-for="Input.Password"/>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div>
        <input asp-for="Input.RememberMe"/> Nhớ đăng nhập?
    </div>
    <div>
        <button type="submit">Đăng nhập</button>
    </div>
</form>

<a asp-page="Register">Đăng ký tài khoản mới</a>
<a asp-page="ForgotPassword">Quên mật khẩu?</a>
<a asp-page="ResendConfirmEmail">Gửi lại email xác nhận</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
