@page
@model RegisterModel

<h1>Đăng kí</h1>

<p>@TempData["SuccessMessage"]</p>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        Email <input asp-for="Input.Email"/>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div>
        Mật khẩu <input asp-for="Input.Password"/>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div>
        Xác nhận mật khẩu <input asp-for="Input.ConfirmPassword"/>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit">Register</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
