@page
@model ResetPasswordModel

<h1>Đặt lại mật khẩu</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Input.Code" type="hidden"/>
    <input asp-for="Input.UserId" type="hidden"/>
    <div>
        Nhập mật khẩu mới <input asp-for="Input.Password"/>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div>
        Xác nhận mật khẩu mới <input asp-for="Input.ConfirmPassword"/>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit">Đặt lại mật khẩu</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
