@page

@{
    ViewData["Title"] = "Đặt hàng thành công";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4">Đặt hàng thành công!</h1>
            <p class="lead">Cảm ơn bạn đã mua sắm tại cửa hàng của chúng tôi.</p>
            
            <a asp-page="/Customer/Order/OrderHistory">Lịch sử đơn hàng</a><br/>
            <a asp-page="/Index" class="btn btn-primary">Quay lại trang chủ</a>
        </div>
    </div>
</div>